<!DOCTYPE html>
<html>
	<head>
		<title>Strona startowa</title>
		<link rel="stylesheet" type="text/css" href="../static/styl.css"> 
	</head>
	<body>
	<pre>
	<form name = "su" method="GET" action="{{ url_for('sign_up') }}">
		<button type="submit">Sign UP</button>
	</form>
	<form name = "si" method="GET" action="{{ url_for('sign_in') }}">
		<button type="submit">Sign IN</button>
	</form>
	<form name = "next" method="GET" action="{{ url_for('cypher') }}">
		<button type="submit">Cypher!</button>
	</form>
	<form name = "so" method="GET" action="{{ url_for('sign_out') }}">
		<button type="submit">Sign OUT!</button>
	</form>
	</pre>		
	
	
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
					<li><b>{{ message }}</b></li>
				{% endfor %}
			</ul>
			{% endif %}
		 {% endwith %}
	
     
	</body>
</html>
