<!DOCTYPE html>
<html>
	<head>
		<title>Cypher execution</title>
		<link rel="stylesheet" type="text/css" href="../static/styl.css"> 
	</head>
	<body>
		<form name = "execute_query" method="POST" action="{{ url_for('cypher') }}">
			<label for="textarea">Cypher query</label><br>
			<textarea id="execute_query" NAME="query" ROWS=10 COLS=100 ></textarea><br>
			<button type="submit">Execute query </button>
		</form>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
					<li><b>{{ message }}</b></li>
				{% endfor %}
			</ul>
			{% endif %}
		 {% endwith %}  
	</body>
</html>
