{% extends 'master_template.html' %}

{% block content %}
    <h2>Users</h2>
    <div class="row">
             <table style="width:100%">
                <tr>
                    <th>Delete</th>
                    <th>Block</th>
                    <th>Unlock</th>
                    {% if sa==1: %}
                    <th>Give admin rights</th>
                    <th>Take admin rights</th>
                    {% endif %}
                    <th>Login</th>
                    <th>First name</th>
                    <th>Last name</th>
                </tr>
            {% for i in list %}
                <tr>
                    <td>
                        <form action="{{ url_for('userController.remove_user') }}">
                            <input type="hidden" name="login" value="{{ i[0] }}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>

                    <td>
                        {% if i[3] == 0  %}
                        <form action="{{ url_for('userController.lock_account') }}">
                            <input type="hidden" name="login" value="{{ i[0] }}">
                            <input type="submit" value="Lock">
                        </form>
                        {% endif %}
                    </td>
                    <td>
                        {% if i[3] == 1 %}
                        <form action="{{ url_for('userController.unlock_account') }}">
                            <input type="hidden" name="login" value="{{ i[0] }}">
                            <input type="submit" value="Unlock">
                        </form>
                        {% endif %}
                    </td>
                    {% if sa==1 %}
                    <td>
                        {% if i[4]==0 %}
                        <form action="{{ url_for('userController.give_admin') }}">
                            <input type="hidden" name="login" value="{{ i[0] }}">
                            <input type="submit" value="Grant">
                        </form>
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if sa==1 %}
                    <td>
                        {% if i[4]==1 %}
                        <form action="{{ url_for('userController.take_admin') }}">
                            <input type="hidden" name="login" value="{{ i[0] }}">
                            <input type="submit" value="Revoke">
                        </form>
                        {% endif %}
                    </td>
                    {% endif %}

                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                </tr>

            {% endfor %}

            </table><br/>

		</form>
    </div>

    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3><span class="label label-info">Info</span> {{ message }} </h3><br/><br/>
                {% endfor %}
            {% endif %}
         {% endwith %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}