{% extends 'master_template.html' %}

<style>
	#back {
		position:absolute;
		top: 10px;
		left: 20px;
		z-index: 1000;
		background-color: #000;
		color: #FFF;
		font-size: 2em;
	}
</style>

{% block content %}
    <h2>User panel - querying</h2>

    <label for="execute_query">Cypher query</label><br>
    <textarea id="execute_query" NAME="query" ROWS=10 COLS=100 ></textarea><br>
    <button type="submit" id="send_it" class="btn btn-primary btn-sm">Execute query </button>

	
	<a href="/" id="back"><< Back</a>

	<div class="row alchemy" id="alchemy"></div>

    <div class="row logs">

    </div>



{% endblock %}

{% block scripts %}

	<script type="text/javascript">

		//var data = {'nodes': [{'id': 41768}, {'id': 41769}, {'id': 41643}, {'id': 41765}, {'id': 41766}, {'id': 41767}, {'id': 41644}, {'id': 41645}, {'id': 41771}, {'id': 41644}, {'id': 41643}, {'id': 41776}, {'id': 41770}, {'id': 41776}], 'edges': [{'source': 41776, 'target': 41765}, {'source': 41776, 'target': 41769}, {'source': 41776, 'target': 41770}, {'source': 41643, 'target': 41644}, {'source': 41643, 'target': 41645}, {'source': 41776, 'target': 41768}, {'source': 41776, 'target': 41766}, {'source': 41776, 'target': 41767}, {'source': 41776, 'target': 41771}, {'source': 41643, 'target': 41644}]};


        $('#send_it').click(function(){
            $.ajax({
                method: "POST",
                url: "/user/cypher",
                data: { query: $('#execute_query').val() }
            })
            .done(function( data ) {

                $('.logs').text(JSON.stringify(data))

                alchemy.begin({
                    dataSource: data,
                    graphHeight: function(){ return 500; },

                    clusterColours: ["#1B9E77","#D95F02","#7570B3","#E7298A","#66A61E","#E6AB02"]
                })
            });
        });

	</script>

{% endblock %}
