{% extends 'master_template.html' %}

{% block content %}
{#    <div class="jumbotron">#}
{#        <h1>Example project</h1>#}
{#        <p> Bla bla bla, bootstrap </p>#}
{#    </div>#}


    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3><span class="label label-info">Info</span> {{ message }} </h3>
                {% endfor %}
            {% endif %}
         {% endwith %}
    </div>

    <div class="row">
        <h2>What works</h2>

        <ul class="list-group">
          <li class="list-group-item">User - cypher queries</li>
          <li class="list-group-item">User - images->node management</li>
          <li class="list-group-item">User - import/export graph</li>
          <li class="list-group-item">User - registration and session management</li>
          <li class="list-group-item">Admin - panel: manage admins and users</li>
          <li class="list-group-item">Permissions - group based permissions for node access</li>
        </ul>

    </div>

{#        <ul class="list-group">#}
{#          <li class="list-group-item">#}
{#            <a href="{{ url_for('exampleController.example_index') }}">/example - Show some serialized data</a>#}
{#          </li>#}
{#          <li class="list-group-item">#}
{#            <a href="{{ url_for('exampleController.example_data') }}">/example/data - Show some serialized data</a>#}
{#          </li>#}
{#          <li class="list-group-item">#}
{#            <a href="{{ url_for('exampleController.example_reset') }}" onclick="confirm('YOU SURE ???')">/example/reset - (Re)set database</a>#}
{#          </li>#}
{##}
{#          <li class="list-group-item"><a href="{{ url_for('userController.user_cypher') }}">/user/ & /user/panel - User panel(cypher queries)</a></li>#}
{#          <li class="list-group-item"><a href="{{ url_for('userController.user_login') }}">/user/login</a></li>#}
{#          <li class="list-group-item"><a href="{{ url_for('userController.user_logout') }}">/user/logout</a></li>#}
{#          <li class="list-group-item"><a href="{{ url_for('userController.user_register') }}">/user/register</a></li>#}
{#          <li class="list-group-item"><a href="{{ url_for('userController.user_images') }}">/user/panel/images</a></li>#}
{#        </ul>#}

{% endblock %}

{% block scripts %}
    <script>
{#        setTimeout(function(){$('.jumbotron').append($('<h2>Hello!</h2>'))}, 5000);#}
    </script>
{% endblock %}
