{% extends 'master_template.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>Example project</h1>
        <p> Bla bla bla, bootstrap </p>
    </div>

    <div class="row">
        <h2>Available test links</h2>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="{{ url_for('exampleController.example_index') }}">/example - Show some serialized data</a>
          </li>
          <li class="list-group-item">
            <a href="{{ url_for('exampleController.example_data') }}">/example/data - Show some serialized data</a>
          </li>
          <li class="list-group-item">
            <a href="{{ url_for('exampleController.example_reset') }}">/example/reset - (Re)set database</a>
          </li>
        </ul>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        setTimeout(function(){$('.jumbotron').append($('<h2>Hello!</h2>'))}, 5000);
    </script>
{% endblock %}